.invoiceForm__form {
  margin-top: 1.5rem;

  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100dvh - 230px);
  padding-right: 5px;
}

.invoiceForm__form::-webkit-scrollbar {
  width: 5px;

  background-color: rgba(0, 0, 0, 0.3);
}

.invoiceForm__form::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}

.invoiceForm__form-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.invoiceForm__form-container p {
  margin-bottom: 1rem;
}

.invoiceForm__form-container p span {
  color: #7c5dfa;
}

.invoiceForm__form-container input {
  width: 100%;
  height: 48px;
  padding-left: 1rem;
  color: #ffff;
  background-color: var(--sidebar-color);
  font-weight: 700;
}

.light .invoiceForm__form-container input {
  background-color: var(--dark-theme-text-color);
  color: var(--light-theme-text-color);
}

.invoiceForm__form-container label {
  width: 100px;
  margin: 1.5rem 0 0.5rem 0;
}

.invoiceForm__form-container select {
  background-color: var(--sidebar-color);
  border: none;
  color: var(--dark-theme-text-color);
  cursor: pointer;
  height: 48px;
  padding-left: 1rem;
  outline: none;
}

.light .invoiceForm__form-container select {
  background-color: var(--dark-theme-text-color);
  color: var(--light-theme-text-color);
}

.invoiceForm__form-container_items li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
}

.invoiceForm__form-container_items .invoiceForm__form-img {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 10px;
  cursor: pointer;
}

.invoiceForm__form-container_items li .invoiceForm__form-container_item {
  display: flex;

  width: 100%;
  justify-content: space-between;
}

.invoiceForm__form-container_items li .invoiceForm__form-container_item div {
  margin: 0.8rem 0;
}

.invoiceForm__form-container_items div {
  width: 25%;
}

.invoiceForm__form-button {
  width: 100%;
  background-color: var(--sidebar-color);
  outline: none;
  border: none;
  border-radius: 24px;
  height: 48px;
  margin-top: 1.5rem;
  color: var(--dark-theme-text-color);
  cursor: pointer;
}

.light .invoiceForm__form-button {
  background-color: #f9fafe;
  color: var(--light-theme-text-color);
}
.invoiceForm__form-button_container {
  display: flex;
  gap: 5px;
}
