.invoice__invoice {
  margin: 2rem 0;
  padding: 1.3rem;
  background-color: var(--sidebar-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.invoice__invoice:hover {
  opacity: 0.7;
}

.light .invoice__invoice {
  background-color: #ffffff;
}
.light .invoice__invoice:hover {
  color: #007bff;
  background-color: rgba(51, 51, 51, 0.5);
}

.invoice__invoice-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.invoice__invoice-container {
  display: flex;
  justify-content: space-between;
}

.invoice__invoice-container_data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.invoice__invoice-container_status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100px;
  border-radius: 6px;

  height: 40px;
}

.invoice__invoice-container_status.pending {
  background-color: var(--pending-background-color);
}

.invoice__invoice-container_status.pending p span {
  color: var(--pending-text-color);
}
.invoice__invoice-container_status.pending div {
  background-color: var(--pending-text-color);
}

.invoice__invoice-container_status.paid {
  background-color: var(--paid-color-background);
}
.invoice__invoice-container_status.paid div {
  background-color: var(--paid-color);
}
.invoice__invoice-container_status.paid p span {
  color: var(--paid-color);
}

.invoice__invoice-container_status.draft {
  background-color: var(--draft-color-background);
}
.invoice__invoice-container_status.draft p span {
  color: var(--draft-color);
}

.invoice__invoice-container_status.draft div {
  background-color: var(--draft-color);
}

.invoice__invoice-container_status div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 2px;
  background: var(--paid-color);
}

.invoice__invoice-container_status p span {
  color: var(--paid-color);
}

@media screen and (min-width: 768px) {
  .invoice__invoice {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .invoice__invoice-container_data {
    flex-direction: row;

    width: 250px;
    justify-content: space-around;
  }
  .invoice__invoice-header {
    margin-bottom: 0;
    min-width: 200px;
  }
}

@media screen and (min-width: 1024px) {
  .invoice__invoice-container_data {
    width: 300px;
  }

  .invoice__invoice-header {
    width: 250px;
  }
}
