.invoices__invoices-container {
  margin: 2rem 1rem;
  overflow: auto;
}

@media screen and (min-width: 600px) {
  .invoices__invoices-container {
    margin: 2rem 5rem;
  }
}

@media screen and (min-width: 1024px) {
  .invoices__invoices-container {
    width: clamp(700px, 75%, 1000px);
    margin: 5rem auto;
  }
}

@media screen and (max-width: 260px) {
  .invoices__invoices-container {
    margin: 1rem 0;
  }
}
