.invoices__invoice {
  border: 1px red solid;
  width: clamp(250px, 70%, 1200px);

  margin: 2rem auto;
}

@media screen and (min-width: 1024px) {
  .invoices__invoice {
    height: 100%;
    margin-top: 5rem;
  }
}
