.invoiceMaker {
  background-color: var(--dark-theme-background-color);
  position: absolute;
  width: 100%;
  top: 73px;
  padding: 1.5rem 1rem;
}

.light .invoiceMaker {
  background-color: var(--light-theme-background-color);
}
