* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-theme-background-color);
}

@media screen and (min-width: 1024px) {
  .app-container {
    display: flex;
    flex-direction: row;
  }
}
