@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font-family: "League Spartan", sans-serif;
  --dark-theme-text-color: #ffffff;
  --light-theme-text-color: #0c0e16;
  --sidebar-color: #1e2139;
  --dark-theme-background-color: #141625;
  --light-theme-background-color: #f8f8fb;
  --pending-text-color: #0c0e16;
  --pending-backround-color: #ff8f00;
  --paid-color: #33d69f;
  --paid-color-background: rgba(51, 214, 159, 0.06);
  --padding: 2rem, 1rem;
  --margin: 1.5rem;
}
